
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*HEADER*/

.header{
  position: relative;
  width: 1215px;
  height: 35px;
  background-color: rgba(7, 80, 143, .75);
  color: #60b5ed;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  letter-spacing: -.5px;
  text-decoration: none;
}

.menu-top {
  float: right;
  padding-right: 20px;
}

.menu-top li{
  display: inline-block;
  height: 35px;
  padding: 0 11px;
  line-height: 35px;
}

.menu-top li:hover{
  background-color: #4eabda;
}

a {
    color: #60b5ed;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 15px;
    letter-spacing: -.5px;
    text-decoration: none;
}

.menu-top li a:hover{
  color: #fff;
}
li.box{
  color: #fff;
  letter-spacing: .2px;
}
li.box a{
  color: #fff;
  letter-spacing: .2px;
}
li.box a:hover{
  border-bottom: 1px solid #fff;
}

.icon {
  position: relative;
  left: -11px;
  top: 6px;
  height: 23px;
  content: url('../img/ivenicon.png');
}

.menu-top li:nth-child(6){
  padding-left: 30px;
  border-left: 1px solid #56a2dc;
}

.menu-top li:nth-child(7){

}

/*login_menu*/
.login_menu{
  width: 1215px;
  height: 1028px;
  background-image: url('../img/bg.png');
}

.userform {
  position: absolute;
  top: 249px;
  left: 353px;
  width: 560px;
  height: 613px;
  background-color: rgba(40, 40, 40, .5);
  z-index: 2;
}

h1 {
  margin: 19px 0 15px -14px;
  color: #fff;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 27px;
  letter-spacing: -1.9px;
  text-align: center;
}
hr {
  color: #d8ddd7;
}

.facebook {
  margin-top: 37px;
  text-align: center;
}

.ou {
  margin-top: 28px;
  color: #818381;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
}

.ou hr {
  display: inline-block;
  width: 122px;
  margin: 5px 3px;
}

input,
button {
  display: block;
}

[type=checkbox] {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-top: 7px;
  margin-left: 143px;
}
input {
  width: 258px;
  height: 34px;
  margin: 17px auto;
  padding-left: 16px;
  border: 0;
  background-image: -webkit-linear-gradient(bottom, #111, #0e0d0d);
  background-image: -moz-linear-gradient(bottom, #111, #0e0d0d);
  background-image: -o-linear-gradient(bottom, #111, #0e0d0d);
  background-image: -ms-linear-gradient(bottom, #111, #0e0d0d);
  background-image: linear-gradient(to top, #111, #0e0d0d);
  color: #fff;
  -moz-box-shadow: 0 1px #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, .2), inset 0 0 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, .2), inset 0 0 2px rgba(0, 0, 0, .1);
  box-shadow: 0 1px #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, .2), inset 0 0 2px rgba(0, 0, 0, .1);
}

input:hover {
  color: #fff;
  background-image: -webkit-linear-gradient(bottom, #1b5288, rgba(27, 82, 136, .5));
  background-image: -moz-linear-gradient(bottom, #1b5288, rgba(27, 82, 136, .5));
  background-image: -o-linear-gradient(bottom, #1b5288, rgba(27, 82, 136, .5));
  background-image: -ms-linear-gradient(bottom, #1b5288, rgba(27, 82, 136, .5));
  background-image: linear-gradient(to top, #1b5288, rgba(27, 82, 136, .5));
  -moz-box-shadow: 0 0 9px rgba(47, 123, 197, .9), 0 3px #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, .2), inset 0 0 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 0 9px rgba(47, 123, 197, .9), 0 3px #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, .2), inset 0 0 2px rgba(0, 0, 0, .1);
  box-shadow: 0 0 9px rgba(47, 123, 197, .9), 0 3px #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, .2), inset 0 0 2px rgba(0, 0, 0, .1);
}

input:first-child {
  margin-top: 20px;
}

.tips {
  margin-left: 2px;
  color: #ccc;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  letter-spacing: -.3px;
}

button {
  width: 150px;
  height: 38px;
  margin: 6px auto;
  border: solid 1px rgba(107, 184, 231, .7);
  border-radius: 5%;
  background-image: -webkit-linear-gradient(bottom, rgba(74, 155, 215, 1) 20%, rgba(46, 122, 196, .3));
  background-image: -moz-linear-gradient(bottom, rgba(74, 155, 215, 1) 20%, rgba(46, 122, 196, .3));
  background-image: -o-linear-gradient(bottom, rgba(74, 155, 215, 1) 20%, rgba(46, 122, 196, .3));
  background-image: -ms-linear-gradient(bottom, rgba(74, 155, 215, 1) 20%, rgba(46, 122, 196, .3));
  background-image: linear-gradient(to top, rgba(74, 155, 215, 1) 20%, rgba(46, 122, 196, .3));
  color: #fff;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  letter-spacing: -.4px;
}

.privacy {
  margin-top: 15px;
  color: #ccc;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
}
